.last-search-block {
  display: flex;
  gap: 15px;
  overflow: auto;
  margin-bottom: 20px;
  .card {
    padding: 10px 15px;
    font-weight: 300;
    cursor: pointer;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    .clock-icon {
      width: 15px;
    }
    .delete-city {
      width: 15px;
      filter: opacity(0.5);
      &:hover {
        filter: opacity(1);
      }
    }
  }
  .card p {
    white-space: nowrap;
  }
}
