<div *ngIf="!isLoading;else loadingBlock" class="one-day-weather">

  <p class='day-of-week'>
    {{ otherWeekDay }}
  </p>

  <p class='date'>{{ today?todayDate:otherDate }}</p>
  <div *ngIf="!isLoading">
    <h3 class='city'>{{ activeCity | uppercase}}</h3>
  </div>
  <div class="icon-temp-block">
    <img [src]="weatherIconPath" alt="weather icon">
    <p class='temp'>
      {{ today&&!isLoading?todayTemp:otherDayTemp }}°</p>
  </div>
  <p class='weather-description'>
    {{ (today? weatherDescription.description:otherDayWeatherDescription) | titlecase}}
  </p>
</div>

<ng-template #loadingBlock>
  <p class='loading'>Loading...</p>
</ng-template>
