.card {
  min-height: 85px;

  .five-day-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    flex-wrap: nowrap;
    gap: 20px;
    // @media only screen and (max-width: 400px) {
    //   gap: 10px;
    // }
  }
}
