.card {
  padding: 15px 10px;
  min-height: 270px;
  @media only screen and (max-width: 500px) {
    padding: 15px 5px;
  }
  @media only screen and (max-width: 400px) {
    padding: 15px 0px;
  }
}
.each-hour-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  .time {
    font-size: 17px;
  }
  .temp {
    font-size: 22px;
  }
  @media only screen and (max-width: 500px) {
    gap: 5px;
    .time {
      font-size: 15px;
    }
    .temp {
      font-size: 18px;
    }
  }
}
